<div class="content">
  <div class="introContent">
    <img src="../assets/icon/aboutMe.png" class="rightBtn" (click)="navigateToTab('autobiography')">
    <p>About Me</p>
  </div>
</div>
<div class="content">
  <div class="introContent">
    <img src="../assets/icon/education.png" class="rightBtn" (click)="navigateToTab('edu-and-work')">
    <p>Education & Work Experience</p>
  </div>
</div>
<div class="content">
  <div class="introContent">
    <img src="../assets/icon/skills.png" class="rightBtn" (click)="navigateToTab('skill')">
    <p>Skills</p>
  </div>
</div>
