<div class="background">
  <div class="header"></div>
  <div class="footer"></div>
</div>
<div class="intro" *ngIf="tabService.getButtonsVisibility()">
  <div class="title">Resume</div>
  <app-intro></app-intro>
</div>
<div class="left-panel" *ngIf="!tabService.getButtonsVisibility()">
  <app-personal-info></app-personal-info>
</div>
<div class="right-panel" *ngIf="!tabService.getButtonsVisibility()">
  <app-nav-tab (tabClicked)="onTabClicked($event)"></app-nav-tab>
  <div class="content-container">
    <div class="content" *ngIf="tabService.getActiveTab() !== ''">
      <app-autobiography *ngIf="tabService.getActiveTab() === 'autobiography'"></app-autobiography>
      <app-edu-and-work *ngIf="tabService.getActiveTab() === 'edu-and-work'"></app-edu-and-work>
      <app-skill *ngIf="tabService.getActiveTab() === 'skill'"></app-skill>
    </div>
  </div>
  <img src="../assets/icon/back.png" class="backToIntro" (click)="goBackIntro()">
</div>
