<div class="content" [ngClass]="{'show-content': isContentLoaded}">
  <div class="title">Skills
  </div>
  <div class="skill">
    <div class="skillContent">
      <img src="../../assets/icon/html5.png" class="skillsLogo">
      <p>HTML5</p>
    </div>
    <div class="skillContent">
      <img src="../../assets/icon/javaScript.png" class="skillsLogo">
      <p>Javascript</p>
    </div>
    <div class="skillContent">
      <img src="../../assets/icon/css.png" class="skillsLogo">
      <p>CSS3</p>
    </div>
    <div class="skillContent">
      <img src="../../assets/icon/git.png" class="skillsLogo">
      <p>GIT</p>
    </div>
    <div class="skillContent">
      <img src="../../assets/icon/angular.png" class="skillsLogo">
      <p>ANGULAR</p>
    </div>
    <div class="skillContent">
      <img src="../../assets/icon/typescript.png" class="skillsLogo">
      <p>Typescript</p>
    </div>
    <div class="skillContent">
      <img src="../../assets/icon/github.png" class="skillsLogo">
      <p>GitHub</p>
    </div>
    <div class="skillContent">
      <img src="../../assets/icon/bootstrap.png" class="skillsLogo">
      <p>Bootstrap 5</p>
    </div>
    <div class="skillContent">
      <img src="../../assets/icon/jira.png" class="skillsLogo">
      <p>JIRA</p>
    </div>
  </div>
</div>
