<div class="personalInfo">
  <img src="../resume/assets/img/steedImg.jpg" class="profileImg">
  <div class="aboutMe">
    <div class="contactMe">
      <a href="mailto:steed@webglsoft.com" class="contactLogo">
        <img src="../resume/assets/icon/email.png"/>
      </a>
      <button (click)="togglePopup()" class="contactLogo">
        <img src="../resume/assets/icon/phone.png"/>
      </button>
      <a href="https://www.linkedin.com/in/steedwu" target="_blank" class="contactLogo">
        <img src="../resume/assets/icon/linkedin.png"/>
      </a>
      <div *ngIf="isPopupVisible" class="popup-overlay">
        <div class="popup-container">
          <div class="popup-content">
            <button class="close-button" (click)="togglePopup()">X</button>
            <p class="phoneNumber">📞：{{ phoneNumber }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="name">吳哲延</div>
    <div class="name">Steed Wu</div>
    <div class="jobTitle">Frontend Engineer</div>
    <div class="location">
      <img src="../resume/assets/icon/locationPin.png" class="locationIcon"/>
      Kaohsiung City, Taiwan
    </div>
  </div>
</div>
