<div class="content" [ngClass]="{'show-content': isContentLoaded}">
  <div class="education">
    <div class="title">Education</div>
    <div class="schooleContent">
      <div class="educationContent">
        <img src="../resume/assets/img/stuLogo.png" class="eduLogo">
        <p>樹德科技大學</p>
      </div>
      <div class="educationContent">
        <img src="../resume/assets/img/twLogo.png" class="eduLogo">
        <p>國立曾文家商</p>
      </div>
    </div>
  </div>
  <div class="workExperience">
    <div class="title">Work Experience</div>
    <div class="workExpContent">
      <div class="row1">
        <div class="content1">
          <img src="../resume/assets/img/glLogo.jpg" class="workExpLogo">
        </div>
        <div class="content2">
          <p>Frontend Engineer</p>
          <p>資旅軟體開發有限公司</p>
          <p>2022/06 - Present</p>
        </div>
      </div>
      <div class="content3">
        <p>負責處理客戶要求的事務、修復Bug與開發，目前隸屬LOOK At Me專案</p>
        <p>曾經參與WTCVN,Web3與PNS專案</p>
      </div>
    </div>
    <div class="workExpContent">
      <div class="row1">
        <div class="content1">
          <img src="../resume/assets/img/abcLogo.png" class="workExpLogo">
        </div>
        <div class="content2">
          <p>賣場銷售人員</p>
          <p>艾比斯馬特國際股份有限公司</p>
          <p>2021/02 - 2022/06</p>
        </div>
      </div>
      <div class="content3">
        <p>販售商品，掌握流行時尚，空間規劃，商品陳列，進貨出貨，結帳收銀，訓練新人，處理客訴。</p>
      </div>
    </div>
    <div class="workExpContent">
      <div class="row1">
        <div class="content1">
          <img src="../resume/assets/img/chattimeLogo.png" class="workExpLogo">
        </div>
        <div class="content2">
          <p>Tearista</p>
          <p>Chatime Canada</p>
          <p>2019/10 - 2020/10</p>
        </div>
      </div>
      <div class="content3">
        <p>調製飲品、結帳收銀、進貨盤點、訓練新人。</p>
      </div>
    </div>
    <div class="workExpContent">
      <div class="row1">
        <div class="content1">
          <img src="../resume/assets/img/hilaiLogo.svg" class="workExpLogo">
        </div>
        <div class="content2">
          <p>商務中心實習生</p>
          <p>漢來大飯店</p>
          <p>2018/07 - 2019/07</p>
        </div>
      </div>
      <div class="content3">
        <p>負責接待服務VIP、調酒、準備餐點、處理客訴、進貨盤點。</p>
      </div>
    </div>
  </div>
</div>
