<div class="content" [ngClass]="{'show-content': isContentLoaded}">
  <div class="title">About Me</div>
  <div class="content">
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;我是吳哲延，台南人，畢業於樹德科技大學休閒與觀光管理系。在求學過程中，除了盡心盡力專研本科系相關知識外，更認真考取相關證照，如：國際禮儀中級能力檢定、CRM顧客關係管理商品分析師、Abacus 訂位認證......等。雖缺乏相關實務經驗，但對於觀光餐飲從業人員應具備的相關知識有淺層的基礎，並持續進修提升自身能力，與周遭同學建立友好互助關係並充實自身的經驗與知識，其中也不乏師長的教導指引。在求學期間參加各種大大小小的校外活動，致力於學習各種新技能。
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;曾經在漢來大飯店商務中心實習一年，當時負責接待VIP和商務客，解決疑問以及處理客訴問題，在實習的一年的時間，我學習與商務客的相處之道，因在實習間接觸到非常多外籍商務客，對國外生活充滿憧憬，在畢業後也積極申請到加拿大打工度假，經過這一年在多倫多的生活的經歷，我和以前相比，更熟悉在國外與人相處的方式，也增進了英文聽力及口語能力。離開加拿大回國後，進入艾比斯馬特股份有限公司當賣場銷售人員，除銷售技巧上更上一層外，也學習到非常多與顧客、同事之間的應對進退之道，商品的陳列手法，與空間整體規劃概念。
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;從2022年6月起，在資旅軟體開發有限公司擔任學徒一職，將自己歸零後重新前進，在同年9月正式成為前端工程師，非本科系的我，從零基礎開始一步一步增加自己對於前端與後端的知識，也因從未學習也無從事任何網頁設計相關的工作，在知道自己未來想轉職時，就開始規劃自己每天自學網頁設計相關的東西，包括HTML、SCSS、TypeScript與Angular。在自學過程中不乏有完全看不懂的時候，雖有許多不懂的地方，但我對於學習任何東西都是有上進心且對這些事物保持著好奇心，在查資料與資料整理的過程中，開始漸漸的理解到這其中的奧妙，也開始漸漸的被其吸引。我學習能力強且很有執行力，對於公司資源相當珍惜，目前正負責LOOKPH的專案，持續接觸新領域，且持續增進工作必要技能，與公司共存共榮。
    </p>
  </div>
</div>
